<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/post.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <title>PostIt!</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <main>
            <div class="content-area">
                <div class="title">
                    <h1>Posts</h1>
                </div>
                <% if (posts.length > 0) { %>
                    <% posts.forEach(post => { %>
                        <div class="post">
                            <div class="main" onclick="location.href='/singlepost/<%= post.id %>'">
                                <%- include('./partials/postmain.ejs', {post:post}) %>

                            </div>
                            <div class="footer">
                                <form action='/posts/<%= post.id %>' method="POST">
                                    <button onclick="this.form.submit();this.onclick=null;">Like</button>
                                </form>
                                <p class="likes">
                                    <%= post.likes %>
                                    people like this!
                                </p>
                            </div>
                        </div>
                        <% }) %>
                            <% } else { %>
                                <p id='no-post'>You did not post anything...</p>
                                <% } %>

            </div>
        </main>
        <%- include('./partials/footer.ejs') %>
</body>

</html>